
@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="text-center">
    <h1 class="display-4">Welcome @HttpContextAccessor.HttpContext.Session.GetInt32("UserId").GetValueOrDefault()</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
